<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not found</title>
  <link rel="stylesheet" href="../assets/css/lib/boostrap/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
  <div class="imagen-fondo">
  </div>
  <div class="container">
    <h1>404 Page not found</h1>
    <a href="/" class="btn btn-danger d-inline-block w-25">Back to Home</a>
  </div>
</body>
</html>