<main class="container">
  <div class="margin-top text-light text-center">
    <h1 class=" text-bienvenido ">WELCOME</h1>
    <div class="mt-3">
      <p class="d-inline fs-3">start now</p>
      <a href="/movies/movies-list" class="btn logo-title d-inline fs-3 p-3 ms-2">your<span>M</span>ovies</a>
    </div>
  </div>
</main>